<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WacConnects</title>
    <link rel="stylesheet" href="/css/Design.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

<div class="topnav container">
    <b><img src="/images/WienerAC-Logo.png" height="38" width="120" alt=""/></b>
    <a href="/">Home</a>
    <a href="/howItWorks" id="soFunktioniertButton">So funktionierts</a>
    <a href="/contact">Kontakte</a>
    <a href="/QandA">häufige Fragen</a>
    <a href="/aboutUs">Über Uns</a>
    <label class="navsearch">
        <input type="text" placeholder="">
    </label>
    <button class="signing-button" id="signInButton">Konto</button>
</div>




<script src="/scripts/openLoginScript.js"></script>


</body>
</html>
