<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Über Uns</title>
    <link rel="stylesheet" href="/css/Design.css">
    <title>WacConnects</title>
</head>
<body>

<section id="AboutUsInformation">
    <h1>Unsere Webseite erklärt!</h1>
    <p>
        Sehr geehrte Mitglieder des WAC-Tennisvereins,<br><br>
        Unsere Website wurde konzipiert, um Ihren Alltag zu erleichtern und Ihnen ein reibungsloses Erlebnis zu bieten. Ähnlich wie bei der Anmeldung für Online-Kurse ermöglicht Ihnen unsere Plattform eine unkomplizierte Registrierung, wobei Ihre individuellen Tenniskompetenzen berücksichtigt werden, um passende Spielpartner für Sie zu finden.<br><br>
        Nach der Anmeldung steht es Ihnen frei, Nachrichten auszutauschen – vergleichbar mit Kommunikationsmöglichkeiten, die Sie vielleicht von WhatsApp kennen –, um sich mit anderen Mitgliedern zu vernetzen. Darüber hinaus können Sie Freunde hinzufügen und Tennisspiele arrangieren. Die Möglichkeit zur Teilnahme an Turnieren besteht ebenfalls, wobei unsere Website automatisch den Spielplan für Sie erstellt.<br><br>
        Ein herausragendes Merkmal ist der Newsletter, der Ihnen Informationen zu kommenden Veranstaltungen oder anderen relevanten Themen direkt auf Ihr Profil liefert – ähnlich einem Rundschreiben.<br><br>
        Datensicherheit und Privatsphäre liegen uns besonders am Herzen. Daher haben wir spezielle Technologien implementiert, um Ihre persönlichen Daten zu schützen.<br><br>
        Unsere Webseite wurde bewusst benutzerfreundlich gestaltet, damit auch Personen, die weniger erfahren im Umgang mit dem Internet sind, sie mühelos nutzen können. Sie gewährleistet eine schnelle und zuverlässige Funktionalität, selbst bei gleichzeitigem Zugriff vieler Mitglieder.<br><br>
        Insgesamt zielt die Webseite darauf ab, den Austausch untereinander zu erleichtern und Ihnen mehr Freude am Tennissport im Verein zu bereiten. Wir hoffen, dass Ihnen unsere Plattform gefällt und Sie dabei unterstützt, sich besser zu vernetzen und gemeinsame Aktivitäten zu planen.<br><br>
        Mit freundlichen Grüßen<br>
        Ihr WAC-Team
    </p>
    <div class="feature-list">
        <li>Registrierung für Tennismatches</li>
        <li>Nachrichtenversand an andere Mitglieder</li>
        <li>Freunde hinzufügen und Tennisspiele planen</li>
        <li>Teilnahme an automatischen Turnieren</li>
        <li>Erhalt von Newslettern zu Veranstaltungen</li>
    </div>
</section>



</body>
</html>
