<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kontakt</title>
    <link rel="stylesheet" href="/css/Design.css">
</head>
<body>


<div class="contactInformation">
    <section id="contactInformations">
        <h1>Kontakt</h1>
        <p>Adresse: Rustenschacherallee 9, 1020 Wien</p>
        <p>Telefon:</p>
        <ul>
            <li>Sekretariat: +43 1 728 02 17</li>
            <li>Restaurant: +43 664 9948 0948</li>
            <li>Platzwart: +43 660 745 2101</li>
        </ul>
        <p>Email: <a href="mailto:office@wac.at">office@wac.at</a></p>
        <p>Öffnungszeiten:</p>
        <p>Sekretariat: Montag bis Freitag, 10:00 - 17:00 Uhr</p>
    </section>
</div>


</body>
</html>
