<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WacConnects</title>
    <link rel="stylesheet" href="/css/Design.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>


<a class="logo" href="startPage.hbs">WAC-Connects</a>
<div style="display: flex; flex-direction: row; align-items: center; justify-content: center;"></div>
<div class="container">
    <div class="card" >
        <div class="card-header">
            Featured
        </div>
        <ul class="list-group list-group-flush mb-5">
            <li class="list-group-item">Player 1</li>
            <li class="list-group-item">Player 2</li>
            <li class="list-group-item">Player 3</li>
        </ul>
        <div id="calendar_section">
            <h1>Kommende Turniere</h1>
            <!--    TODO liste mit kommenden turnieren-->
        </div>
    </div>

</div>

</body>
</html>
